@use "../variables" as vars;

.content-card {
  background-color: rgba(vars.$primary,0.9);
  border-radius: 8px;
  margin: 0 60px 60px;
  width: calc(100% - 120px);
  height: 100% !important;
}

.tables-wrapper{
  padding: 0 30px 30px 30px;
}

.actuators-table{
  color: white;
}

.title {
  color: white;
  padding: 0 22px 0 30px;
}